{% extends 'base.html.twig' %}

{% block title %}Admin register!{% endblock %}

{% block content %}

    <div class="page-header">
        <h2><i class="fas fa-sign-in-alt"></i>Registration</h2>
        <div class="controls-container">
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}
